.cards{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.name {
  font-size: 2rem;
  color: #ffd60a;
  margin-bottom: .35rem;
  font-family: 'Times New Roman', Times, serif;
}
.title{
  font-size: 1.2rem;
  margin-bottom: .35rem;
  font-weight: 200;
  font-family: 'Times New Roman', Times, serif;
}.bio1 {
  font-weight: 200;
  margin-bottom: 1.75rem;
  
}
.bio {
  font-weight: 200;
  margin-bottom: 1.75rem;
  display:none;

}
/* for founder */
.card1{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90vw;
  margin: 60px;
  max-width: 100%;
  padding: 50px 30px 50px 20px;
  background-color: #ef121b54;
  backdrop-filter: blur(20px);
  color: whitesmoke;
  border-radius: 24px;
}
/* for member */
.card2{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50vw;
  margin: 60px;
  max-width: 450px;
  padding: 50px 30px 50px 20px;
  background-color: #ef121b54;
  backdrop-filter: blur(20px);
  color: whitesmoke;
  border-radius: 24px;
}
.img{
  max-width: 280px;
  width: 28vw;
  height: 300px;
  object-fit: cover;
  object-position: top;
  margin-left: -60px;
  margin-right: 30px;
  border-radius: inherit;
  /* box-shadow: 2px 2px 40px rgba(0, 0, 0, 0.438); */
}
@media only screen and (max-width: 480px) {
  .card2{
    flex-direction: column;
    text-align: center;
    margin: 40px 20px 40px 20px;
    padding-left: 50px;
    padding-right: 50px;
    width: 90%;

  }
  .card1{
    flex-direction: column;
    text-align: center;
    margin: 40px 20px 40px 20px;
    padding-left: 50px;
    padding-right: 50px;
    width: 90%;

  }
  .img{
    margin:-100px 0 30px 0;
    width:100%;
    max-width: 1000px;
  }
  
}
svg:hover{
  filter: drop-shadow(0px 0px 10px white);
}
