.container {
    color: #d2d2d2;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-weight: normal;
    letter-spacing: .125rem;
    text-transform: uppercase;
}

li {
    display: inline-block;
    font-size: 0.75rem;
    list-style-type: none;
    padding: 1em;
    text-transform: uppercase;
}

li span {
    display: block;
    font-size: 2.5rem;
}

@media all and (max-width: 768px) {
    h1 {
        font-size: 1.5rem;
    }
    ul {
        padding-left: 0px;
    }
    li {
        font-size: 0.825rem;
        padding: .75rem;
    }
    li span {
        font-size: 1.2rem;
    }
}